<h3>Edit Product Information</h3>

<%= image_tag @product.image.url(:medium) %>

<%= form_tag "/products/#{@product.id}", method: :patch do %>

  <%= label_tag :name %>
  <%= text_field_tag :name, @product.name %> <br>

  <%= label_tag :brand %>
  <%= text_field_tag :brand, @product.brand %> <br>

  <%= label_tag :product_type %>
  <%= text_field_tag :product_type, @product.product_type %> <br>

  <%= submit_tag 'Save', class: 'button'%>

<% end %>