<div class="row">
  <div class="columns small-12 medium-6 large-6">
    <h3>Add a Product</h3> <br>

    <%= form_tag '/search', method: :get do %>

      <span class="lead">Search for a makeup product:</span><br>
      <%= text_field_tag :keyword %>
      <%= submit_tag 'Search', class: 'button' %>

    <% end %> <br>
  </div>
</div>

<div class="row">
  <div style="padding: 0 1rem" class="small-12 medium-6 large-6 columns">
    <div class="lead">Or add your own:</div>

    <%= form_tag '/products', method: :post, multipart: true do %>
      
      <label for="preview" class="button">Upload File</label>
      <%= file_field_tag :image, id: 'preview', class: 'show-for-sr', accept: 'image/png,image/gif,image/jpeg' %><br>

      <%= label_tag :name %>
      <%= text_field_tag :name %> <br>

      <%= label_tag :brand %>
      <%= text_field_tag :brand %> <br>

      <%= label_tag :product_type %>
      <%= text_field_tag :product_type %> <br>

      <%= hidden_field_tag :red, nil, id: 'red' %>
      <%= hidden_field_tag :green, nil, id: 'green' %>
      <%= hidden_field_tag :blue, nil, id: 'blue' %>

      <%= submit_tag 'Finish', class: 'button' %>
    <% end %>

      <div id="alsoHide" class="row">
          Product Color:<br>
          <div class="swatch-box" id="swatch" onclick="changeDominant()"></div>
      </div>
  </div>

  <div style="padding: 25px" class="small-12 medium-6 large-6 columns">
    <div id="target"></div><br>
  </div>

</div>

<div id="hide" class="row">
  Not the right color? Choose from the following:<br>
  <% 9.times do |number| %>
    <div class="swatch-box" id="swatch<%= number %>" onclick="changeColor(<%= number %>)"> </div>
  <% end %>
</div>

<script type="text/javascript">

$(function() {
  $('#preview').on('change', function(event) {

    document.getElementById("red").value = "";
    document.getElementById("green").value = "";
    document.getElementById("blue").value = "";

    var files = event.target.files;
    var previewImage = files[0];
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.src = file.target.result;
      $('#target').html(img);

      var colorThief = new ColorThief();
      window.dominantColor = colorThief.getColor(img);
      window.palette = colorThief.getPalette(img);

      document.getElementById("red").value = dominantColor[0];
      document.getElementById("green").value = dominantColor[1];
      document.getElementById("blue").value = dominantColor[2];

      document.getElementById("swatch").style["background-color"] = 'rgb(' + dominantColor[0] + ',' + dominantColor[1] + ',' + dominantColor[2] + ')';

      for (i = 0; i < palette.length; i++){
        document.getElementById('swatch' + i).style['background-color'] = 'rgb(' + palette[i][0] + ',' + palette[i][1] + ',' + palette[i][2] + ')';

      document.getElementById("hide").style.display = "block";
      document.getElementById("alsoHide").style.display = "block";

      };
    }
    reader.readAsDataURL(previewImage);
  });
});

function changeColor(number){
  for (i = 0; i < window.palette.length; i++){
    document.getElementById('swatch' + i).style['border'] = 'none';
  };
  document.getElementById('swatch').style['border'] = 'none';

  document.getElementById("red").value = "";
  document.getElementById("green").value = "";
  document.getElementById("blue").value = "";

  document.getElementById('red').value = window.palette[number][0];
  document.getElementById('green').value = window.palette[number][1];
  document.getElementById('blue').value = window.palette[number][2];

  console.log(window.palette[number])

  document.getElementById('swatch' + number).style['border'] = '3px solid #FF1744';
};

function changeDominant(){
  for (i = 0; i < window.palette.length; i++){
    document.getElementById('swatch' + i).style['border'] = 'none';
  };
  document.getElementById('swatch').style['border'] = 'none';
  document.getElementById("red").value = "";
  document.getElementById("green").value = "";
  document.getElementById("blue").value = "";

  document.getElementById('red').value = window.dominantColor[0];
  document.getElementById('green').value = window.dominantColor[1];
  document.getElementById('blue').value = window.dominantColor[2];

  console.log(window.dominantColor)

  document.getElementById('swatch').style['border'] = '3px solid #FF1744';
};

</script>