<div ng-app="app" ng-controller="productsCtrl">

<div class="row" style="text-align: center">

  <p><span class="lead" style="font-size: 2rem"><%= @product.name.upcase %></span> 
    <br> <%= link_to "#{@product.brand}", "/?search=#{@product.brand}" %></p>
    <%= image_tag @product.image.url(:medium) %><br><br>
    <div class="columns small-12 medium-3 medium-centered large-3 large-centered" style="height: 1rem; background-color: rgb(<%= @color.red %>, <%= @color.green %>, <%= @color.blue %>)"></div> <br>
    
  <% if user_signed_in? %>
    <div class="row">
      <div class="columns small-12 medium-3 medium-centered large-3 large-centered">
        <div style="width: 50%; float: left">
          <%= form_tag '/wishlist', method: :post do %>
            <%= hidden_field_tag :product_id, @product.id %>
            <%= image_submit_tag('https://s3-us-west-2.amazonaws.com/colorcrush/heart.gif', class: 'icon') %> Add to Wishlist<br>
          <% end %>
        </div>
        <div style="width: 50%; float: left">
          <%= form_tag '/traincase', method: :post do %>
            <%= hidden_field_tag :product_id, @product.id %>
            <%= image_submit_tag('https://s3-us-west-2.amazonaws.com/colorcrush/case.gif', class: 'icon') %> Add to Traincase<br>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <p><%= link_to 'Sign In', '/users/sign_in' %> to add to Traincase or Wishlist</p>
  <% end %>

</div>

<div class="row"> <hr> </div>

<div class="row small-up-1 medium-up-3 large-up-4">
  <p style="text-align: center;font-size: 2rem" class="lead">Possible Dupes</p>
  <% if @matches.length > 0 %>
    <% @matches.each do |match| %>
      <% match.products.each do |product| %>
        <div class="column">
          <div class="callout">
            <b><%= link_to "#{product.name.upcase}", "#{product.id}" %></b><br>
            <%= link_to "#{product.brand}", "/?search=#{product.brand}" %><br>
            <a href="/products/<%= product.id %>"><%= image_tag "#{product.image}", class: 'thumbnail' %></a><br>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div style="text-align: center">No dupe matches.</div><br>
  <% end %>
</div>

  <% if user_signed_in? %>
    <div class="row">
      <div class="columns small-12 medium-3 medium-centered large-3 large-centered info-box">
        Suggest a dupe:
        <%= form_tag '/dupes', method: :post do %>
          <%= hidden_field_tag :primary_id, @product.id %>
          <%= select_tag(:secondary_id, options_for_select(@options)) %>

          <div ng-repeat="product in products">{{ product.name }}</div>

          <datalist id="products">
            <option ng-repeat="product in products">{{ product.name }}</option>
          </datalist>

          <input list="products" placeholder="Search"><br><br>

          <%= submit_tag 'Submit', class: 'button' %>
        <% end %>
      </div>
    </div>
  <% end %>  <br> 

<div class="row small-up-1 medium-up-2 large-up-3">
  <% if @top_dupes.length > 0 %>
    <hr>
    <p class="lead" style="text-align: center; font-size: 2rem">Dupes</p>
    <% @top_dupes.each do |item| %>
      <div class="column">
        <div class="callout">
          <b><%= link_to "#{item.product.name.upcase}", "#{item.product.id}" %></b> <br>
          <%= link_to image_tag("#{item.product.image}", class: 'thumbnail'), "#{item.product.id}" %> <br>
            <% if item.votes.count == 1 %>
              <%= item.votes.count %> person thinks <%= item.product.name %> is a dupe.<br>
            <% elsif item.votes.count > 0 %>
              <%= item.votes.count %> people think <%= item.product.name %> is a dupe.<br>
            <% end %>
          Is <%= item.product.name %> a dupe?
          <% if user_signed_in? %>
            <%= form_tag '/votes', method: :post do %>
              <%= hidden_field_tag :dupe_id, item.id %> 
              <%= submit_tag 'Yes', class: 'button' %>
            <% end %>
          <% else %>
            <%= link_to 'Sign In', '/users/sign_in' %> to vote.
          <% end %>

          <% if item.tags.length != 0 %>
          Compared to <b><%= @product.name %></b>, <b><%= item.product.name %></b> is <br>
            <% item.tags.select(:text).group(:text).having("count(*) >= 1").take(5).each do |tag| %>
              <%= tag.text %> &nbsp; 
            <% end %>
          <% end %>

          <% if user_signed_in? %>
            <%= form_tag '/tags', method: :post do %>
              <%= hidden_field_tag :dupe_id, item.id %>      
              <%= text_field_tag :text, nil, placeholder: 'tag' %> 
              <%= submit_tag 'Submit', class: 'button' %>
            <% end %>
          <% else %>
            <%= link_to 'Sign In', '/users/sign_in' %> to add tags.
          <% end %>

        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if user_signed_in? && current_user.admin %>
  <hr> <br>
  <div class="row">
    <div class="columns small-12 medium-3 medium-centered large-3 large-centered info-box">
      <b>Admin Functions</b><br>
      <%= link_to "Edit", "/products/#{@product.id}/edit" %> |
      <%= link_to "Delete", "/products/#{@product.id}", method: :delete %>
    </div> 
  </div><br>
<% end %>

</div>