<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ColorCrush" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      $(window).scroll(function(){
          if($(window).scrollTop() > 0) {
              $('.top').addClass('shadow');
          } else {
              $('.top').removeClass('shadow');
          }
      });
    </script>
  </head>

<body>

<div class="top-line"></div>
<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
  
    <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar" data-responsive-toggle="widemenu" data-responsive-toggle="nav-menu" data-hide-for="medium">
      <div class="title-bar-left">
        <span class="title-bar-title" style="font-size: 1.5rem"><%= link_to 'ColorCrush', '/' %></span>
      </div>
      <div class="title-bar-right">
        <span class="title-bar-title" style="color: #8a8a8a">
          <% if user_signed_in? %>
            Profile
          <% else %>
            Sign in
          <% end %>
        </span>
        <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
      </div>
    </div>

  <!-- off-canvas right menu -->
  <nav class="top-bar" id="nav-menu">
    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
      <ul class="vertical dropdown menu" data-dropdown-menu>
        <% if user_signed_in? %>
          <li><%= link_to 'Profile', '/user' %></li>
          <li><%= link_to 'Traincase', '/traincase' %></li>
          <li><%= link_to 'Wishlist', '/wishlist' %></li>
          <li><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></li>
        <% else %> 
          <li><%= link_to 'Sign In', '/users/sign_in' %></li>
          <li><%= link_to 'Sign Up', '/users/sign_up' %></li>
        <% end %>
      </ul>
    </div>

    <!-- "wider" top-bar menu for 'medium' and up -->
    <div data-sticky-container>
    <div id="widemenu" class="top-bar top" data-sticky data-options="marginTop:0;" style="width:100%; padding: 1rem">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><%= form_tag '/', method: :get do %>
          <%= text_field_tag :search, nil, placeholder: "Search for products" %></li>
          <li><%= submit_tag "Search", class: 'button' %>
        <% end %></li>
        </ul>
<!--         <ul class="menu">
          <li class="menu-text" style="font-size: 1.5rem"><%= link_to 'ColorCrush', '/', {:style => "color: #fff"} %></li>
        </ul> -->
      </div>  

      <div class="logo-wrapper hide-for-small-only">
        <div class="logo">
          <a href="/"><h1>ColorCrush</h1></a>
        </div>
      </div>

      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="has-submenu">
            <% if user_signed_in? %>
              <span style="font-size: 1.3rem"><a href="#" class="menu-link" style="background-color: transparent; color: #8a8a8a">Profile</a></span>
            <% else %>
              <%= link_to 'Register', '/users/sign_up' %>
            <% end %>
            <ul class="menu submenu vertical" data-submenu>
              <% if user_signed_in? %>
                <li><%= link_to 'Profile Home', '/user' %></li>
                <li><%= link_to 'Traincase', '/traincase' %></li>
                <li><%= link_to 'Wishlist', '/wishlist' %></li>
                <li><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></li>
              <% else %> 
                <li><%= link_to 'Sign In', '/users/sign_in' %></li>
                <li><%= link_to 'Sign Up', '/users/sign_up' %></li>
              <% end %>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    </div>
  </nav>

    <!-- original content goes in this container -->
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="row column">

        <div class="show-for-small-only">
          <br>
          <%= form_tag '/', method: :get do %>
            <%= text_field_tag :search, nil, placeholder: "Search for products" %>
            <%= submit_tag "Search", class: 'button' %>
          <% end %>
        </div>
        
        <div class="center">
          <% flash.each do |name, message| %>
              <br> <%= message.upcase %>
          <% end %>
        </div>

        <br>

        <%= yield %>

      </div>
    </div>

  <!-- close wrapper, no more content after this -->
  </div>
</div>

<div data-sticky-container>
<footer class="footer">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <p class="slogan">ColorCrush</p>
      <p class="links">
        <a href="/"> Home </a>
        <a href="/"> About </a>
<!--         <a href="#">Faq</a> -->
        <a href="/"> Contact</a>
      </p>
<!--       <p class="copywrite">Last Words</p> -->
    </div>
  </div>
</footer>
</div>

</body>

</html>